// 
$primary-color: #F56718;
$primary-color-active: rgba($color: #F56718, $alpha: 0.8);
$success-color: #07c160;
$normal-color: #e3e3e3;
$font-color: #303133;
$default-bg-color: #F8F8F8;
$blue-color: #3c9cff;
$error-color: #f56c6c;

// 主题色
$theme-color: #F56718;
$theme-active-color: rgba($color: #F56718, $alpha: 0.8);
$border-color: #EEEEEE;
$orange-background-color: #fdf6ec;